* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  inset: 0;
  background-image: url("imagem.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(30px);
  transform: scale(1.2); /* IMPORTANTE */
  z-index: -1;
}

.loading-text {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 6px 15px rgba(0,0,0,0.7);
}
