body{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
font-family:Arial;
background:white;
color:black;
transition:0.3s;
}

body.dark{
background:#111;
color:white;
}

#toggle{
position:absolute;
top:20px;
padding:8px 14px;
cursor:pointer;
}

.clock{
width:200px;
height:200px;
border:5px solid currentColor;
border-radius:50%;
position:relative;
}

.hand{
position:absolute;
bottom:50%;
left:50%;
transform-origin:bottom;
background:currentColor;
}

.hour{
height:40px;
width:6px;
}

.minute{
height:60px;
width:4px;
}

.second{
height:80px;
width:2px;
background:red;
}