body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
}

.modal-container{
position:fixed;
top:0;
left:0;
height:100%;
width:100%;
background:rgba(0,0,0,0.6);
display:flex;
justify-content:center;
align-items:center;
opacity:0;
pointer-events:none;
transition:0.3s;
}

.modal-container.show{
opacity:1;
pointer-events:auto;
}

.modal{
background:white;
padding:30px;
border-radius:8px;
}