* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}


.search {
  position: relative;
  height: 50px;
}


.input {
  height: 50px;
  width: 50px;
  padding: 0 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  transition: width 0.4s ease;
}


.search.active .input {
  width: 220px;
}


.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #111;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.4s ease;
}


.search.active .btn {
  transform: translateX(170px);
}
