body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #020617;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  text-align: center;
}

h1 {
  font-size: 32px;
  min-height: 50px;
  letter-spacing: 1px;
}

.controls {
  margin-top: 30px;
}

input {
  width: 200px;
}
